.name1 {
    color: blue;
    font-size: 20px;
}
.name2 {
    color: green;
    font-size: 19px;   
}
.name3 {
    color: red;
    font-size: 18px;
}
.name4 {
    color: orange;
    font-size: 17px;
}